:host {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .searcher {
    display: flex;
    align-items: center;
    gap: 1rem;
    input {
      border: 1px solid rgb(255, 178, 13);
      padding: 1rem;
      border-radius: 10px;
      font-family: "Arial", sans-serif;
      font-weight: 600;
    }

    button {
      padding: 0.8rem 1.2rem;
      border: none;
      background-color: rgb(249, 203, 105);
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
  .filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    label {
      font-family: "Arial", sans-serif;
    }
  }
}
