:host {
  display: flex;
  justify-content: center;
  border-top: 4px rgb(255, 178, 13) ridge;
  align-items: center;
  background: rgb(190, 175, 143);
  height: 40px;
}
span {
  font-weight: bold;
}
