:host {
  height: 100%;
  width: 100%;
  position: relative;
}
div {
  position: absolute;
  top: -670%;
  height: 5rem;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.735);
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  button {
    padding: 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  form {
    padding-bottom: 2rem;
  }
}
